<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="socialIcon text-center">
                <h5 style="line-height: 50%; margin:1rem 0 .912rem 0">Designed and developed by :</h5>
            </div>
            <div class="socialIcon text-center">
                <h5 style=" margin:1rem 0 .912rem 0">Shubham Pathak</h5>
            </div>
            <div class="row234">
                <div class="socialIcon text-center">
                    <a href="https://www.facebook.com/shubham.pathak.94043626" target="_blank"
                        rel="noopener noreferrer">
                        <i class="fa fa-facebook-square fa-2x"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/shubham-pathak-77959333/" target="_blank"
                        rel="noopener noreferrer">
                        <i class="fa fa-linkedin fa-2x"></i>
                    </a>
                    <a href="https://github.com/pshubh99" target="_blank" rel="noopener noreferrer">
                        <i class="fa fa-github fa-2x"></i>
                    </a>
                </div>
            </div>
            </ul>
        </div>
    </div>
</footer>